<template>
    <div class="post">
        <div v-if="loading" class="loading">
            Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationvue">https://aka.ms/jspsintegrationvue</a> for more details.
        </div>

        <div v-if="forecastList" class="content">
            <button @click="addData()" v-if="!openAddUI">Add</button>
            <button @click="addData()" v-if="openAddUI">Cancel</button>
            <div v-if="openAddUI">
                <form @submit.prevent="submitForm">
                    <label>Date: </label>
                    <input type="text" v-model="formData.date">
                    <br>
                    <label>Temp. (C): </label>
                    <input type="text" v-model="formData.temperatureC">
                    <br>
                    <!--<label>Temp. (F): </label>
                    <input type="text" v-model="formData.temperatureF">
                    <br>-->
                    <label>Summary: </label>
                    <input type="text" v-model="formData.summary">
                    <br>
                    <button type="submit" @click="saveData">Submit</button>
                </form>
            </div>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="forecast in forecastList" :key="forecast.date">
                        <td>{{ forecast.date }}</td>
                        <td>{{ forecast.temperatureC }}</td>
                        <td>{{ forecast.temperatureF }}</td>
                        <td>{{ forecast.summary }}</td>
                        <td>
                            <div v-if="!openEditUI">
                                <button @click="editData(forecast)">Edit</button>
                                <button @click="deleteData(forecast)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div v-if="openEditUI">
                <button @click="canelEditUI()">Cancel</button>
                <form @submit.prevent="submitForm">
                    <label>Date: </label>
                    <input type="text" v-model="editFormData.date">
                    <br>
                    <label>Temp. (C): </label>
                    <input type="text" v-model="editFormData.temperatureC">
                    <br>
                    <!--<label>Temp. (F): </label>
                    <input type="text" v-model="editFormData.temperatureF">
                    <br>-->
                    <label>Summary: </label>
                    <input type="text" v-model="editFormData.summary">
                    <br>
                    <button type="submit" @click="updateData">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="js">
    import { defineComponent } from 'vue';
    import axios from "axios";
    export default defineComponent({
        data() {
            return {
                loading: false,
                forecastList: null,
                openAddUI: false,
                formData: {
                    date: '',
                    temperatureC: 0,
                    temperatureF: 0,
                    summary: '',
                },
                openEditUI: false,
                editFormData: {
                    id: 0,
                    date: '',
                    temperatureC: 0,
                    temperatureF: 0,
                    summary: '',
                },
                editDataIndex: 0

            };
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData();
        },
        watch: {
            // call again the method if the route changes
            '$route': 'fetchData'
        },
        methods: {
            fetchData() {
                this.forecastList = null;
                this.loading = true;

                axios.get('/api/WeatherForecast/GetWeatherForecast')
                    .then(response => {
                        this.forecastList = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('error:', error);
                    });

            },
            deleteData(forecast) {
                axios.get('/api/WeatherForecast/DeleteWeatherForecast/' + forecast.id)
                    .then(response => {
                        this.forecastList = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('error:', error);
                    });
            },
            addData() {
                this.openAddUI = !this.openAddUI;
            },
            saveData() {
                const data = {
                    date: this.formData.date,
                    temperatureC: this.formData.temperatureC,
                    summary: this.formData.summary
                };

                axios.post('/api/WeatherForecast/SaveWeatherForecast', data, {
                    headers: {
                        "Content-Type": 'multipart/form-data',
                    },
                })
                    .then(response => {
                        this.forecastList = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('error:', error);
                    });

                this.initFromData();
            },
            initFromData() {
                this.formData.date = '';
                this.formData.temperatureC = 0;
                this.formData.temperatureF = 0;
                this.formData.summary = '';
            },
            editData(forecast) {
                this.openEditUI = !this.openEditUI;
                this.editFormData.date = forecast.date;
                this.editFormData.temperatureC = forecast.temperatureC;
                this.editFormData.temperatureF = forecast.temperatureF;
                this.editFormData.summary = forecast.summary;
                this.editFormData.id = forecast.id;

                this.editDataIndex = this.forecastList.findIndex((obj => obj == forecast));
            },
            canelEditUI() {
                this.openEditUI = !this.openEditUI;
            },
            updateData() {
                const data = {
                    id: this.editFormData.id,
                    date: this.editFormData.date,
                    temperatureC: this.editFormData.temperatureC,
                    summary: this.editFormData.summary
                };

                axios.post('/api/WeatherForecast/UpdateWeatherForecast', data, {
                    headers: {
                        "Content-Type": 'multipart/form-data',
                    },
                })
                    .then(response => {
                        this.forecastList = response.data;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('error:', error);
                    });

                this.canelEditUI();
            }
        },
    });
</script>